.container {
	background-color: #ffffff;
	min-height: 90vh;
	padding: 1vh 0;
	margin: -1vh 0;
	color: black;
}
.onlineContainerRow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	min-height: 60vh;
}

.onlineSVG {
	width: 32vw;
	max-height: 63vh;
	-webkit-filter: drop-shadow(0px 0.85rem 0.75rem rgba(76, 75, 80, 0.651));
	filter: drop-shadow(0px 0.85rem 0.75rem rgba(76, 75, 80, 0.651));
}
.onlineSVG {
	animation: floatAnim 6s ease-in-out infinite;
}
.floating-balloon {
	animation: floatAnim2 5s ease-in-out infinite;
}

.onlineClassInfo {
	padding: 40px;
	width: 60vw;
	display: flex;
	flex-direction: column;
	text-align: center;
	text-align: justify;
	justify-content: center;
	font-size: 1.3em;
}
@media only screen and (max-width: 800px) {
	.online {
		flex-direction: column;
	}
	.onlineImg {
		width: 100vw;
		height: 30vh;
		border-radius: 1.1em;
	}
	.onlineClassInfo {
		width: 100vw;
		font-size: 1.1em;
	}
	.onlineContainerRow {
		padding: 0;
	}
	.onlineSVG {
		width: 100%;
	}
}
.chooseUsHeading {
	font-size: 2.5em;
	font-weight: bold;
	text-align: center;
}
.top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
