.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding-top: 8vh;
	padding-bottom: 0vh;
}

.container .side {
	margin-top: 4vh;
}
.container .middle {
	margin-top: -4vh;
}

@media only screen and (max-width: 670px) {
	.container {
		flex-direction: column;
	}
	.container .side {
		margin-top: 0vh;
	}
	.container .middle {
		margin-top: 0vh;
	}
}
