.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	padding-bottom: 0vh;
}

.container .side {
	margin-top: 1vh;
    margin-right: 30px;
    margin-left: 30px;
}
.container .middle {
	margin-top: -4vh;
}

@media only screen and (max-width: 670px) {
	.container {
		flex-direction: column;
	}
	.container .side {
		margin-top: 0vh;
	}
	.container .middle {
		margin-top: 0vh;
	}
}
