.courseCardContainer {
	/* min-height: 100vh; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 0 2vh;
	padding-bottom: 8vh;
}
@media only screen and (max-width: 500px) {
	.courseCardContainer {
		padding: 0 0vh;
	}
}

.ForStudents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 380px;
	background-color: white;
	box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

.reviews {
	display: flex;
	width: 100%;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(rgb(255, 255, 255), rgba(185, 184, 184, 0.74));
	padding-bottom: 1.5em;
}

.reviewImg {
	height: 100%;
	width: 90%;
	margin: 2rem;
}
