.page {
	background-color: #ffffff;
	box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}
.hero {
	height: 100vh;
	display: flex;
	flex-direction: row;
	z-index: 2;
	position: relative;
}
.keypoints {
	z-index: 4;
	position: relative;
	margin-top: -16.5vh;
}
.reviews {
	display: flex;
	width: 100%;
	min-height: 90vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 1.5em;
}

.chooseUs {
	/* margin-bottom: 25px; */
	padding-bottom: 50px;
}
.achievements {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 20vh;
}

/* Width */
::-webkit-scrollbar {
	background-color: transparent;
	width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: rgba(31, 30, 30, 0.075);
	background-color: #3a374a;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #3d3d3d;
	background: rgba(211, 211, 211, 0.205);
	background-color: #ffffff;
	height: 120px;
}
/* Handle on hover */

h3 {
	font-weight: bold;
	font-size: 1.3em;
	color: #f70b42;
}

/* svg divider onlineContainerBottomDivider */
.onlineContainerBottomDivider {
	position: absolute;
	/* bosttom: 0; */
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
	/* margin-top: -150px; */
}

.onlineContainerBottomDivider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 75px;
}

.onlineContainerBottomDivider .shapeFill {
	fill: #ffffff;
	fill: #12c2e9; /* fallback for old browsers */
	fill: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
	fill: linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* svg divider chooseUsBottomDivider */
.chooseUsBottomDivider {
	position: absolute;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.chooseUsBottomDivider svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 75px;
}

.chooseUsBottomDivider .shapeFill {
	fill: #ffffff;
	fill: #12c2e9; /* fallback for old browsers */
	fill: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* Chrome 10-25, Safari 5.1-6 */
	fill: linear-gradient(
		to right,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
